{% extends 'base.html' %}

{% block content %}

<div class="row">
    
    <div class="col-lg-8 col-12">
        <div class="row">
            <div class="col-12">
                <h1 id="game_title">Let's roll the dice</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 col-lg-2"><h1 id="one" class="display-1 dice">&#9856;</h1></div>
            <div class="col-4 col-lg-2"><h1 class="display-1 dice">&#9858;</h1></div>
            <div class="col-4 col-lg-2"><h1 class="display-1 dice">&#9857;</h1></div>
            <div class="col-4 col-lg-2"><h1 class="display-1 dice">&#9859;</h1></div>
            <div class="col-4 col-lg-2"><h1 class="display-1 dice">&#9860;</h1></div>
            <div class="col-4 col-lg-2"><h1 class="display-1 dice">&#9861;</h1></div>
        </div>

        <div class="row pt-5">
            <div class="col-6">
                <button type="button" class="btn btn-outline-success" id="roll">Roll the dice</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-outline-danger" id="reset">Start Over</button>  
            </div>
            
            
        </div>

        <div class="row pt-5">
            <div class="col-6">
                <div id="score">This round: 0</div>
            </div>

            <div class="col-6">
                <div id="total">Total Points: 0</div>
            </div>
        </div>

    </div>

    <div class="col-lg-4 col-12" id="rules">
        <div class="card">
            <div class="card-header h1">Rules</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Single 5's - 50 points ea</li>
              <li class="list-group-item">Single 1's - 100 points ea</li>
              <li class="list-group-item">3 of a Kind 1's - 1000 points (Can have 2 three of kinds at once since there are 6 dice)</li>
              <li class="list-group-item">3 of a Kind 2-5 - Face value * 100 (4,4,4 is 400)</li>
              <li class="list-group-item">Straight (1,2,3,4,5,6) is worth 1500 points</li>
            </ul>
            <div class="card-header">When the Player reaches 10,000 points let them know they won the game.</div>
          </div>

    </div>

</div>

<div class="row pt-5">

    <h1 class="card-title">Are you ready to win?</h1>
    <form action="" method="post" class="d-flex justify-content-between">
    {{ form.csrf_token }}
    <div class="col-3 m-2">
    {{ form.username.label }}
    {{ form.username(class='form-control', value=current_user.username) }}
    </div> 
    <div class="col-3 m-2">
    {{ form.points.label }}
    {{ form.points(class='form-control', placeholder='Enter Total Points') }}
    </div>
    <div class="col-3 m-2">
    {{ form.turns.label }}
    {{ form.turns(class='form-control', placeholder='Enter Total Turns') }}
    </div>
    <div class="col-3 m-2 mt-3">
    {{ form.submit(class='btn btn-warning mt-3')}}
    </div>
  </form>


</div>




{% endblock content %}